:root {
    /* Variables pour charte graphique */
    /* Couleurs */
    --fond: #423f3f;
    --fonce: #FF2D59;
    --police: white;
    /* Polices */
    --gotham: "gotham";
}

/* ----- setting de base */
a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* margin: 5%;
    width:90%;
    box-shadow: 0 15px 30px rgba(0,0,0,.9); */
    padding: 0px;
    min-height: 100vh;
    height:100%;
    width:100%;
    background-color: var(--fond);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
h1,
h3,
li,
span {
    font-family: 'Montserrat';
    font-weight: 300;
}

hr {
    border: solid black 1px;
}

h1 {
    padding-top: 3%;
    margin-bottom: 2%;
    margin-left: 3%;
    font-size: 3rem;
    color: var(--police);
}

.txtDesc {
    margin-left: 4%;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: var(--fond);
}

body::-webkit-scrollbar-thumb {
    background: var(--fonce);
    border-radius: 40px;
}

/* ----- fin des setting de base */

/* ----- navbar */
#partieSup {
    background-color: var(--fond);
}

#titre {
    color: var(--fonce);
    font-size: 4rem;
    text-align: center;
    padding-top: 1%;
    margin-bottom: 1%;

}

#partieInf {
    background-color: var(--fond);
    color: var(--police);
}

#bandeau {
    background-color: var(--fond);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    text-align: center;
    border-top: 2px solid var(--police);
}

#bandeau a {
    display: flex;
    position: relative;
    float: left;
    height: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    color: var(--police);
    text-decoration: none;
    transition: 300ms ease-in-out;
}

#bandeau a:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 20%;
    background-color: var(--fonce);
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}

#bandeau a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

/* ----- fin de la navbar */
/* ----- à propos de moi */
#A_propos_de_moi {
    display: block;
}

#profession {
    width: fit-content;
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
    position: relative;
    padding: 10px 20px;
    color: var(--fond);
    background: var(--fonce);
    transform: skew(10deg);
    color: white;
    grid-template-columns: max-content;
    float: left;
}

#txtAProposDeMoi {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.3rem;
    text-align: justify;
}

/* ----- fin à propos de moi */
/* ----- Mes_outils */

#Conteneuroutils {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}

.outil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 180px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outil img {
    height: 100px;
    transition: 300ms ease-in-out;
}

.info:hover img {
    transform: scale(1.3)
}

.outil p {
    transition: 300ms ease-in-out;
}

.info:hover p {
    padding-top: 20px;

}

/* ----- fin de Mes_Outils */

/* ----- Mes_projet */

#Conteneurprojets {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 93%;
}

.projet {
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    display: block;
    width: 400px;
    height: 150px;
}

.projet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projet .contenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    transition: .5s;
    opacity: 0;
}

.nom_projet {
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
}

.descriptionProjet {
    position: absolute;
    font-size: 1em;
    font-weight: 100;
    align-self: center;
    margin: 2%;
}

.tags {
    position: absolute;
    bottom: 10px;
    opacity: 0.6;
    width: 90%;
}

.projet:hover .contenu {
    opacity: 1;
}

.projet:hover img {
    filter: blur(4px);
}

/* ----- fin de Mes_projet */

/* ----- Mes_outils */


#Conteneurcontacts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 200px;
}

.contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact img {
    transition: 300ms ease-in-out;
    height: 100px;
    filter: invert();
}

.contact:hover img {
    transform: scale(1.4);
}

.contact p {
    transition: 300ms ease-in-out;
    min-height: 0;
    color: var(--police);
}

.contact:hover p {
    transform: scale(1.4);
    padding-top: 12%;
    padding-top: 20px;
    max-height: 0;
}
/* ----- animations */
.animate-on-scroll {
	opacity: 0;
	transform: translate(-10%, 0);
	transition: all 0.4s ease-in-out;
	transition-delay: 0.2s;
}

.animate-on-scroll2 {
	opacity: 0;
	transform: translate(10%, 0);
	transition: all 0.4s ease-in-out;
	transition-delay: 0.2s;
}

.animate {
	opacity: 1;
	transform: translate(0, 0);
}

.outil:nth-child(2) {
	transition-delay: 0.4s;
}

.outil:nth-child(3) {
	transition-delay: 0.6s;
}

.outil:nth-child(4) {
	transition-delay: 0.8s;
}

.outil:nth-child(5) {
	transition-delay: 0.2s;
}

.outil:nth-child(6) {
	transition-delay: 0.4s;
}

.outil:nth-child(7) {
	transition-delay: 0.6s;
}

.outil:nth-child(8) {
	transition-delay: 0.8s;
}



.projet:nth-child(2) {
	transition-delay: 0.3s;
}

.projet:nth-child(3) {
	transition-delay: 0.5s;
}

.projet:nth-child(4) {
	transition-delay: 0.3s;
}

.projet:nth-child(5) {
	transition-delay: 0.5s;
}

.projet:nth-child(6) {
	transition-delay: 0.7s;
}

/******************* Media Queries *********************/

@media all and (max-width: 954px) {

    #Conteneuroutils {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 2rem;
        padding-top: 10%;
    }

    #txtAProposDeMoi {
        font-size:1.1rem;
    }

    #titre {
        font-size: 2.5rem;
    }

    #bandeau a {
        height: 80px;
        font-size: 1.1rem;
    }

    #profession {
        margin-bottom: 8%;
    }

    #Conteneurprojets {
        margin-top: 10%;
    }

    .projet {
        width: 380px;
    }
    
}