:root { /* Variables pour charte graphique */
	/* Couleurs */
	--Black:#000000;
	/* Polices */
	--gotham:"gotham";
}

/* ----- setting de base */
* {
    margin:0;
    padding:0;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p, h1,h3,li {
    font-family:var(--gotham);
}

h1 {
    margin-top:4%;
    margin-bottom:1%;
    margin-left:3%;
}

.txtDesc {
    margin-left:4%;
}

#titre {
    font-family:var(--gotham);
    font-size: 3rem;
    text-align: center;
}
/* ----- fin des setting de base */

/* ----- navbar */
#bandeau {
  display: grid;
  /*position:fixed; */
  width:100%;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid black;
}

#bandeau li {
    display: flex;
	position: relative;
	float: left;
	height: 30px;
    justify-content: center;
    align-items: center;
}

#bandeau li:hover{
	background-color:green;
    color:white;
	text-decoration: underline;
}

/* ----- fin de la navbar */

/* ----- Mes_projet */

#Conteneurprojets{
    margin-top: 2%;
    margin-left:5%;
    margin-right:5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.projet{
    margin-top:1.5%;
    border: solid black 1px;
    border-radius: 5%;
}

.langage{
    display:flex;
    justify-content: flex-end;
}

.projet h3{
    margin-top:1%;
    margin-left:4%;
}

.projet .langage p {
    margin-right:4%;
    margin-bottom:1%;
}

.descP {
    margin-top: 1%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 1%;
}

/* ----- fin de Mes_projet */

/* ----- Mes_outils */

#Conteneuroutils{
    margin-top: 2%;
    margin-left:5%;
    margin-right:5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}

.outil {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outil img {
    height:100px;
}
/* ----- fin de Mes_projet */


/* ----- Me_contacter */
#me_contacter {
    margin-bottom: 5%;
}

#infoPerso {
    border:black solid 1px;
    width:40%;
}

/* ----- fin de Me_contacter */